# Drill : Lists, Tuples, Dictionaries

### 1. Choose 5 words from the English language and create  dictionaries that associates each of these words with its French translation.

In [1]:
translate = {"one": "un", "two": "deux", "tree": "trois", "four": "quatre", "five": "cinq"}

### 2. Add an entry to the dictionary of the previous question (a new word and its definition)

In [3]:
translate.setdefault("six", "six")
translate

{'one': 'un',
 'two': 'deux',
 'tree': 'trois',
 'four': 'quatre',
 'five': 'cinq',
 'six': 'six'}

### 3. How would you cut the following string at each space and put it in a list:

In [4]:
sentence = "I am the master of the world"
no_space = sentence.split(' ')
no_space

['I', 'am', 'the', 'master', 'of', 'the', 'world']

### 4. Transform this string "The_universal_number_is_42" by removing the underscores: "The universal number is 42"

In [7]:
universal_number =  "The_universal_number_is_42"
spaced_universal = universal_number.replace('_', ' ')
spaced_universal

'The universal number is 42'

### 5. Display only values of this dictionary.

In [11]:
heroes = {"Superman" : "Clark kent", "Batman" : "Bruce Wayne", "Spiderman" : "Tony Parker"}
test = list(heroes.values())
test

['Clark kent', 'Bruce Wayne', 'Tony Parker']

### 6. Display only keys of this dictionary.

In [12]:
heroes = {"Superman" : "Clark kent", "Batman" : "Bruce Wayne", "Spiderman" : "Tony Parker"}
test = list(heroes.keys())
test

['Superman', 'Batman', 'Spiderman']

### 7. Replace the value of "Spiderman" by "Peter Parker".

In [13]:
heroes = {"Superman" : "Clark kent", "Batman" : "Bruce Wayne", "Spiderman" : "Tony Parker"}
heroes["Spiderman"] = "Peter Parker"
heroes

{'Superman': 'Clark kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker'}

### 8. Create a dictionary to build the price base of the products corresponding to the following table:

    Laser sword // 229.0
    Mitendo DX // 127.30
    Linux cushion // 74.50
    Goldorak briefs // 29.90
    Nextpresso station // 184.60

In [15]:
prices = {"laser sword": 229.0, "Mintendo DX": 127.30, "Linux cushion": 74.50, "Goldorak briefs": 29.90, "Nextpresso station": 184.60}
prices

{'laser sword': 229.0,
 'Mintendo DX': 127.3,
 'Linux cushion': 74.5,
 'Goldorak briefs': 29.9,
 'Nextpresso station': 184.6}

### 9. Calculate the total price of the items of the dictionary

In [16]:
price = 0
for value in prices.values():
    price += value
price

645.3

### 10. Remove one of the articles from the dictionary

In [17]:
prices.pop("laser sword")
prices

{'Mintendo DX': 127.3,
 'Linux cushion': 74.5,
 'Goldorak briefs': 29.9,
 'Nextpresso station': 184.6}

## [Next one](../8.everything-is-object/everything-is-object.ipynb)