# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [8]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [9]:
total_length = 100

first_np_array = np.random.randint(1,4,total_length)
second_np_array = np.random.randint(1,3, total_length)
third_np_array = np.random.randint(10000, 30000, total_length)

first_serie = pd.Series(first_serie)
second_serie = pd.Series(second_serie)
third_serie = pd.Series(third_serie)

first_serie

0     3
1     3
2     3
3     1
4     3
     ..
95    1
96    1
97    2
98    1
99    3
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [20]:
df = pd.concat([first_serie, second_serie,third_serie], axis=1 )
df

    0  1      2
0   3  1  13136
1   3  1  20211
2   3  1  21770
3   1  1  12285
4   3  1  25763
.. .. ..    ...
95  1  2  14235
96  1  2  18885
97  2  2  12595
98  1  2  14102
99  3  1  24144

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [25]:
df.rename(columns={
    0: "bedrs",
    1: "bathrs",
    2: "price_sqr_meter"  
}, inplace=True)
df

    bedrs  bathrs  price_sqr_meter
0       3       1            13136
1       3       1            20211
2       3       1            21770
3       1       1            12285
4       3       1            25763
..    ...     ...              ...
95      1       2            14235
96      1       2            18885
97      2       2            12595
98      1       2            14102
99      3       1            24144

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [33]:
bigcolumn = pd.concat([first_serie, second_serie,third_serie], ignore_index=False)
bigcolumn

0         3
1         3
2         3
3         1
4         3
      ...
95    14235
96    18885
97    12595
98    14102
99    24144
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [32]:
bigcolumn.shape[0]

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [34]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          3
1          3
2          3
3          1
4          3
       ...
295    14235
296    18885
297    12595
298    14102
299    24144
Length: 300, dtype: int32