# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [136]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [137]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = "\t")

### Step 4. How many products cost more than $10.00?

In [138]:
# Convert in Float
chipo.item_price = chipo.item_price.map(lambda ip: float(ip[1:]))

# Creating df over $10
df_item_over_ten =chipo[["item_name", "item_price"]][chipo["item_price"] > 10]

#Display sorted dataFrame
df_item_over_ten.sort_values("item_price", ascending=False)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
3602               Chicken Burrito       35.00
1254               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
...                            ...         ...
476                Chicken Burrito       10.58
2919                  Chicken Bowl       10.58
3520               Chicken Burrito       10.58
1099               Chicken Burrito       10.58
3599                 Bottled Water       10.50

[1130 rows x 2 columns]

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [139]:
chipo[["item_name", "item_price"]].drop_duplicates(["item_name", "item_price"]).sort_index

&lt;bound method DataFrame.sort_index of                                   item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]&gt;

### Step 6. Sort by the name of the item

In [140]:
chipo[["item_name"]].sort_values(['item_name']).drop_duplicates(["item_name"])

                                  item_name
3389                      6 Pack Soft Drink
418                           Barbacoa Bowl
1202                       Barbacoa Burrito
1019                  Barbacoa Crispy Tacos
3546                    Barbacoa Salad Bowl
3548                    Barbacoa Soft Tacos
2441                          Bottled Water
673                                    Bowl
760                                 Burrito
1142                            Canned Soda
964                       Canned Soft Drink
1359                          Carnitas Bowl
1097                       Carnitas Burrito
554                   Carnitas Crispy Tacos
3750                         Carnitas Salad
2610                    Carnitas Salad Bowl
2299                    Carnitas Soft Tacos
4555                           Chicken Bowl
2026                        Chicken Burrito
1027                   Chicken Crispy Tacos
2968                          Chicken Salad
3117                     Chicken Salad Bowl
1496                     Chicken Soft Tacos
2193                                  Chips
3506           Chips and Fresh Tomato Salsa
311                     Chips and Guacamole
674       Chips and Mild Fresh Tomato Salsa
2602     Chips and Roasted Chili Corn Salsa
1458     Chips and Roasted Chili-Corn Salsa
1593  Chips and Tomatillo Green Chili Salsa
1999    Chips and Tomatillo Red Chili Salsa
3657  Chips and Tomatillo-Green Chili Salsa
2972    Chips and Tomatillo-Red Chili Salsa
521                            Crispy Tacos
1213                                   Izze
2379                       Nantucket Nectar
1414                                  Salad
1120                          Side of Chips
3190                             Steak Bowl
4546                          Steak Burrito
3503                     Steak Crispy Tacos
752                             Steak Salad
4391                       Steak Salad Bowl
4549                       Steak Soft Tacos
2326                            Veggie Bowl
1959                         Veggie Burrito
1653                    Veggie Crispy Tacos
3471                           Veggie Salad
4201                      Veggie Salad Bowl
738                       Veggie Soft Tacos

### Step 7. What was the quantity of the most expensive item ordered?

In [145]:
chipo.sort_values("item_price", ascending= False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [152]:
# len(chipo[chipo["item_name"] == "Veggie Salad Bowl"])

chipo[chipo["item_name"] == "Veggie Salad Bowl"].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [156]:
chipo[(chipo["item_name"] == "Canned Soda") & (chipo['quantity'] > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64