# Exercice SQLAlchemy
- create database "from_python_DB" via SSMS
- create tables "iris_nopandas" and "iris_pandas"
- insert iris data (from seaborn) into those tables:
  1. manual CRUD into "iris_nopandas"
  2. via pandas into "iris_pandas"
- select all data from iris table from "iris_pandas" in both ways:
  1. into a pyhton list (no pandas) 
  2. into a dataframe (via pandas)

In [1]:
from seaborn import load_dataset
iris = load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa