In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)_per_capita"

LIST_OF_DF = pd.read_html(url) ## require internet connection

In [3]:
type(LIST_OF_DF),len(LIST_OF_DF)

(list, 9)

In [7]:
LIST_OF_DF[0]

,0,1,2
0,">$60,000 $50,000 – $60,000 $40,000 – $50,000 $...","$20,000 – $30,000 $10,000 – $20,000 $5,000 – $...","$1,000 – $2,500 <$1,000 No data"

In [4]:
LIST_OF_DF[1]

              Country/Territory  IMF[5][6]       World Bank[7]        \
              Country/Territory Projection  Year      Estimate  Year
0                  Luxembourg *     143743  2024        143342  2023
1               Liechtenstein *          —     —             —     —
2                     Ireland *     133822  2024        127623  2023
3                   Singapore *     133737  2024        141500  2023
4                       Macau *     125510  2024        113183  2023
..                          ...        ...   ...           ...   ...
225                Mozambique *       1649  2024          1657  2023
226                  DR Congo *       1552  2024          1671  2023
227  Central African Republic *       1123  2024          1130  2023
228                   Burundi *        916  2024           951  2023
229               South Sudan *        455  2024          1146  2015

    CIA[8][9][10]
         Estimate  Year
0          115700  2021
1          139100  2009
2          102500  2021
3          106000  2021
4           64800  2021
..            ...   ...
225          1200  2021
226          1100  2021
227           800  2021
228           700  2021
229          1600  2017

[230 rows x 7 columns]

In [5]:
my_table = LIST_OF_DF[1]

In [6]:
my_table.columns

MultiIndex([('Country/Territory', 'Country/Territory'),
            (        'IMF[5][6]',        'Projection'),
            (        'IMF[5][6]',              'Year'),
            (    'World Bank[7]',          'Estimate'),
            (    'World Bank[7]',              'Year'),
            (    'CIA[8][9][10]',          'Estimate'),
            (    'CIA[8][9][10]',              'Year')],
           )