https://drive.google.com/file/d/1Kf_ZraDClLgH7VjwRBKQbo8tFEXldu_u/view?usp=drive_link

In [3]:
import polars as pl
import pandas as pd
import time
import psutil
import os
import pyarrow

In [5]:
# Chargement d'un fichier parquet
parquet_file = r"yellow_tripdata_2022-01.parquet"

# Fonction pour mesurer l'utilisation de la mémoire
def memory_usage():
    process = psutil.Process(os.getpid())
    return process.memory_info().rss / (1024 ** 2)  # Conversion en Mo

# Comparaison du temps de chargement et de la mémoire utilisée

# Mesurer les performances avec Pandas
start_time = time.time()
mem_before = memory_usage()
df_pandas = pd.read_parquet(parquet_file)
time_pandas = time.time() - start_time
mem_after = memory_usage()
mem_usage_pandas = mem_after - mem_before

# Mesurer les performances avec Polars
start_time = time.time()
mem_before = memory_usage()
df_polars = pl.read_parquet(parquet_file)
time_polars = time.time() - start_time
mem_after = memory_usage()
mem_usage_polars = mem_after - mem_before

# Afficher les résultats
print(f"Pandas - Temps de chargement : {time_pandas:.4f} secondes")
print(f"Pandas - Utilisation de la mémoire : {mem_usage_pandas:.2f} Mo\n")

print(f"Polars - Temps de chargement : {time_polars:.4f} secondes")
print(f"Polars - Utilisation de la mémoire : {mem_usage_polars:.2f} Mo\n")

# Comparaison des performances sur une opération simple, par exemple, la somme d'une colonne
start_time = time.time()
sum_pandas = df_pandas["total_amount"].sum()
time_sum_pandas = time.time() - start_time

start_time = time.time()
sum_polars = df_polars["total_amount"].sum()
time_sum_polars = time.time() - start_time

print(f"Pandas - Temps pour somme de 'total_amount' : {time_sum_pandas:.4f} secondes")
print(f"Polars - Temps pour somme de 'total_amount' : {time_sum_polars:.4f} secondes")

Pandas - Temps de chargement : 4.8827 secondes
Pandas - Utilisation de la mémoire : 729.88 Mo

Polars - Temps de chargement : 1.6175 secondes
Polars - Utilisation de la mémoire : 74.49 Mo

Pandas - Temps pour somme de 'total_amount' : 0.0123 secondes
Polars - Temps pour somme de 'total_amount' : 0.0015 secondes

In [6]:
# 1. Lecture de données depuis un fichier Parquet

df = pl.read_parquet(parquet_file)
df.head()

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 0.3       ┆ 21.95     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 13.3      ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 10.56     ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 11.8      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 30.3      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [7]:
df.schema

Schema([('VendorID', Int64),
        ('tpep_pickup_datetime', Datetime(time_unit='ns', time_zone=None)),
        ('tpep_dropoff_datetime', Datetime(time_unit='ns', time_zone=None)),
        ('passenger_count', Float64),
        ('trip_distance', Float64),
        ('RatecodeID', Float64),
        ('store_and_fwd_flag', String),
        ('PULocationID', Int64),
        ('DOLocationID', Int64),
        ('payment_type', Int64),
        ('fare_amount', Float64),
        ('extra', Float64),
        ('mta_tax', Float64),
        ('tip_amount', Float64),
        ('tolls_amount', Float64),
        ('improvement_surcharge', Float64),
        ('total_amount', Float64),
        ('congestion_surcharge', Float64),
        ('airport_fee', Float64)])

In [8]:
# 2. Sélection de colonnes spécifiques

df_selected = df.select(["VendorID", "trip_distance", "total_amount"])
df_selected.head()

shape: (5, 3)
┌──────────┬───────────────┬──────────────┐
│ VendorID ┆ trip_distance ┆ total_amount │
│ ---      ┆ ---           ┆ ---          │
│ i64      ┆ f64           ┆ f64          │
╞══════════╪═══════════════╪══════════════╡
│ 1        ┆ 3.8           ┆ 21.95        │
│ 1        ┆ 2.1           ┆ 13.3         │
│ 2        ┆ 0.97          ┆ 10.56        │
│ 2        ┆ 1.09          ┆ 11.8         │
│ 2        ┆ 4.3           ┆ 30.3         │
└──────────┴───────────────┴──────────────┘

In [9]:
df.select(
    pl.col(['passenger_count','trip_distance']),
    pl.col('passenger_count').alias('Passenger Count'),
    pl.col(pl.Int64)
).head(5)

shape: (5, 7)
┌──────────────┬──────────────┬──────────────┬──────────┬──────────────┬─────────────┬─────────────┐
│ passenger_co ┆ trip_distanc ┆ Passenger    ┆ VendorID ┆ PULocationID ┆ DOLocationI ┆ payment_typ │
│ unt          ┆ e            ┆ Count        ┆ ---      ┆ ---          ┆ D           ┆ e           │
│ ---          ┆ ---          ┆ ---          ┆ i64      ┆ i64          ┆ ---         ┆ ---         │
│ f64          ┆ f64          ┆ f64          ┆          ┆              ┆ i64         ┆ i64         │
╞══════════════╪══════════════╪══════════════╪══════════╪══════════════╪═════════════╪═════════════╡
│ 2.0          ┆ 3.8          ┆ 2.0          ┆ 1        ┆ 142          ┆ 236         ┆ 1           │
│ 1.0          ┆ 2.1          ┆ 1.0          ┆ 1        ┆ 236          ┆ 42          ┆ 1           │
│ 1.0          ┆ 0.97         ┆ 1.0          ┆ 2        ┆ 166          ┆ 166         ┆ 1           │
│ 1.0          ┆ 1.09         ┆ 1.0          ┆ 2        ┆ 114          ┆ 68          ┆ 2           │
│ 1.0          ┆ 4.3          ┆ 1.0          ┆ 2        ┆ 68           ┆ 163         ┆ 1           │
└──────────────┴──────────────┴──────────────┴──────────┴──────────────┴─────────────┴─────────────┘

In [10]:
# 3. Filtrage des lignes (équivalent de WHERE en SQL)

df_filtered = df.filter(pl.col("total_amount") > 50)
df_filtered.head()

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 56.35     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:40:15  ┆ 01:09:48  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 55.32     ┆ 2.5       ┆ 1.25      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 18:04:06  ┆ 18:40:52  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 78.85     ┆ 2.5       ┆ 1.25      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:10:27  ┆ 00:41:59  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 3.0       ┆ … ┆ 0.3       ┆ 75.47     ┆ 2.5       ┆ 1.25      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:31:06  ┆ 00:58:26  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 67.86     ┆ 2.5       ┆ 1.25      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:56:26  ┆ 01:25:09  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [11]:
df.filter(
    pl.col('trip_distance') <= 100,
    pl.col('total_amount').is_not_null()
).select(
    pl.col('trip_distance','total_amount')
).sort('trip_distance',descending=True).head(5)

shape: (5, 2)
┌───────────────┬──────────────┐
│ trip_distance ┆ total_amount │
│ ---           ┆ ---          │
│ f64           ┆ f64          │
╞═══════════════╪══════════════╡
│ 99.46         ┆ 206.85       │
│ 99.2          ┆ 20.75        │
│ 98.9          ┆ 16.8         │
│ 98.4          ┆ 18.35        │
│ 98.15         ┆ 303.1        │
└───────────────┴──────────────┘

In [12]:
# 4. Ajout de nouvelles colonnes

df_with_new_col = df.with_columns(
    (pl.col("tip_amount") / pl.col("total_amount") * 100).alias("tip_percentage")
    )
df_with_new_col.head()

shape: (5, 20)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ total_amo ┆ congestio ┆ airport_f ┆ tip_perce │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ n_surchar ┆ ee        ┆ ntage     │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ge        ┆ ---       ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ f64       ┆           ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 21.95     ┆ 2.5       ┆ 0.0       ┆ 16.628702 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 13.3      ┆ 0.0       ┆ 0.0       ┆ 30.075188 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 10.56     ┆ 0.0       ┆ 0.0       ┆ 16.666667 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 11.8      ┆ 2.5       ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 30.3      ┆ 2.5       ┆ 0.0       ┆ 9.90099   │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [13]:
# 5. Groupement et agrégation

df_grouped = df.group_by("VendorID").agg(pl.col("trip_distance").sum().alias("total_distance"))
df_grouped.head()

shape: (4, 2)
┌──────────┬────────────────┐
│ VendorID ┆ total_distance │
│ ---      ┆ ---            │
│ i64      ┆ f64            │
╞══════════╪════════════════╡
│ 6        ┆ 45929.08       │
│ 5        ┆ 536.8          │
│ 1        ┆ 2.2174e6       │
│ 2        ┆ 1.0974e7       │
└──────────┴────────────────┘

In [14]:
# 6. Tri des données

df_sorted = df.sort("total_amount", descending=True)
df_sorted.head()

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 401095.62 ┆ 2.5       ┆ 0.0       │
│          ┆ 7         ┆ 7         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 11:36:43  ┆ 11:47:12  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-2 ┆ 2022-01-2 ┆ 1.0       ┆ … ┆ 0.3       ┆ 899.68    ┆ 2.5       ┆ 0.0       │
│          ┆ 9         ┆ 9         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 02:23:46  ┆ 02:32:06  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-2 ┆ 2022-01-2 ┆ 1.0       ┆ … ┆ 0.3       ┆ 722.8     ┆ 2.5       ┆ 0.0       │
│          ┆ 0         ┆ 0         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 17:53:58  ┆ 17:54:04  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 5.0       ┆ … ┆ 0.3       ┆ 688.35    ┆ 0.0       ┆ 1.25      │
│          ┆ 2         ┆ 3         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:23:27  ┆ 03:54:44  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-2 ┆ 2022-01-2 ┆ 1.0       ┆ … ┆ 0.3       ┆ 683.1     ┆ 0.0       ┆ 1.25      │
│          ┆ 3         ┆ 3         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 12:07:11  ┆ 16:14:46  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [16]:
# 7. Écriture de données dans un fichier Parquet

output_file = r"Nouveau.parquet"  
df_sorted.write_parquet(output_file)
print(f"Données triées écrites dans : {output_file}")

Données triées écrites dans : Nouveau.parquet

In [17]:
# 8. Utilisation du LazyFrame

lazy_df = df.lazy()
result = (
    lazy_df
    .filter(pl.col("total_amount") > 50)
    .group_by("VendorID")
    .agg(pl.col("trip_distance").sum().alias("total_distance"))
    .sort("total_distance", descending=True)
)
print(result)
final_df = result.collect()  # Évaluation de la requête lazyframe
final_df

naive plan: (run LazyFrame.explain(optimized=True) to see the optimized plan)

SORT BY [col("total_distance")]
  AGGREGATE
  	[col("trip_distance").sum().alias("total_distance")] BY [col("VendorID")] FROM
    FILTER [(col("total_amount")) > (50.0)] FROM
      DF ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count"]; PROJECT */19 COLUMNS; SELECTION: None

shape: (4, 2)
┌──────────┬────────────────┐
│ VendorID ┆ total_distance │
│ ---      ┆ ---            │
│ i64      ┆ f64            │
╞══════════╪════════════════╡
│ 2        ┆ 1.6815e6       │
│ 1        ┆ 570949.8       │
│ 6        ┆ 19700.48       │
│ 5        ┆ 492.03         │
└──────────┴────────────────┘

In [18]:
# 9. Utilisation avancée de LazyFrame et optimisation des requêtes

lazy_df = df.lazy()
result_lazy = (
    lazy_df
    .filter(pl.col("total_amount") > 50)
    .group_by("VendorID")
    .agg([
        pl.col("trip_distance").sum().alias("total_distance"),
        pl.col("tip_amount").mean().alias("average_tip"),
    ])
    .sort("total_distance", descending=True)
)

# Optimisations possibles via `collect()` ou `fetch()` pour un échantillon
print(result_lazy.fetch())
result_lazy.collect()

shape: (2, 3)
┌──────────┬────────────────┬─────────────┐
│ VendorID ┆ total_distance ┆ average_tip │
│ ---      ┆ ---            ┆ ---         │
│ i64      ┆ f64            ┆ f64         │
╞══════════╪════════════════╪═════════════╡
│ 2        ┆ 4990.39        ┆ 8.871524    │
│ 1        ┆ 1942.5         ┆ 9.18        │
└──────────┴────────────────┴─────────────┘

/tmp/ipykernel_9355/2347757619.py:16: DeprecationWarning: `LazyFrame.fetch` is deprecated. `LazyFrame.fetch` is deprecated; use `LazyFrame.collect` instead, in conjunction with a call to `head`.
  print(result_lazy.fetch())

shape: (4, 3)
┌──────────┬────────────────┬─────────────┐
│ VendorID ┆ total_distance ┆ average_tip │
│ ---      ┆ ---            ┆ ---         │
│ i64      ┆ f64            ┆ f64         │
╞══════════╪════════════════╪═════════════╡
│ 2        ┆ 1.6815e6       ┆ 8.841613    │
│ 1        ┆ 570949.8       ┆ 7.78816     │
│ 6        ┆ 19700.48       ┆ 0.0         │
│ 5        ┆ 492.03         ┆ 2.427586    │
└──────────┴────────────────┴─────────────┘

In [19]:
# 10. Fusion de DataFrames

df_additional = pl.DataFrame({
    "VendorID": [1, 2],
    "vendor_name": ["Vendor A", "Vendor B"]
})
df_merged = df.join(df_additional, on="VendorID", how="left")
df_merged.head()

shape: (5, 20)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ total_amo ┆ congestio ┆ airport_f ┆ vendor_na │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ n_surchar ┆ ee        ┆ me        │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ge        ┆ ---       ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ str       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ f64       ┆           ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 21.95     ┆ 2.5       ┆ 0.0       ┆ Vendor A  │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 13.3      ┆ 0.0       ┆ 0.0       ┆ Vendor A  │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 10.56     ┆ 0.0       ┆ 0.0       ┆ Vendor B  │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 11.8      ┆ 2.5       ┆ 0.0       ┆ Vendor B  │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 30.3      ┆ 2.5       ┆ 0.0       ┆ Vendor B  │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [20]:
# 11. Utilisation des fenêtres (window functions)

df_with_window = df.with_columns(
    pl.col("total_amount").cum_sum().over("VendorID").alias("cumulative_sum_total_amount")
)
df_with_window.head()

shape: (5, 20)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ total_amo ┆ congestio ┆ airport_f ┆ cumulativ │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ n_surchar ┆ ee        ┆ e_sum_tot │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ge        ┆ ---       ┆ al_amount │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ ---       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ f64       ┆           ┆ f64       │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 21.95     ┆ 2.5       ┆ 0.0       ┆ 21.95     │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 13.3      ┆ 0.0       ┆ 0.0       ┆ 35.25     │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 10.56     ┆ 0.0       ┆ 0.0       ┆ 10.56     │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 11.8      ┆ 2.5       ┆ 0.0       ┆ 22.36     │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 30.3      ┆ 2.5       ┆ 0.0       ┆ 52.66     │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [21]:
# 12. Jointure avec condition multiple (complex join)

print("Jointure avec condition multiple (ex. sur 'VendorID' et 'payment_type')")

df_additional = pl.DataFrame({
    "VendorID": [1, 2],
    "payment_type": [1, 2],
    "discount": [0.1, 0.15]
})
df_joined = df.join(df_additional, on=["VendorID", "payment_type"], how="left")
df_joined.head()

Jointure avec condition multiple (ex. sur 'VendorID' et 'payment_type')

shape: (5, 20)
┌──────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ VendorID ┆ tpep_picku ┆ tpep_drop ┆ passenger ┆ … ┆ total_amo ┆ congestio ┆ airport_f ┆ discount │
│ ---      ┆ p_datetime ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ n_surchar ┆ ee        ┆ ---      │
│ i64      ┆ ---        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ge        ┆ ---       ┆ f64      │
│          ┆ datetime[n ┆ ---       ┆ f64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆          │
│          ┆ s]         ┆ datetime[ ┆           ┆   ┆           ┆ f64       ┆           ┆          │
│          ┆            ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆          │
╞══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1        ┆ 2022-01-01 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 21.95     ┆ 2.5       ┆ 0.0       ┆ 0.1      │
│          ┆ 00:35:40   ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│          ┆            ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1        ┆ 2022-01-01 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 13.3      ┆ 0.0       ┆ 0.0       ┆ 0.1      │
│          ┆ 00:33:43   ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│          ┆            ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2        ┆ 2022-01-01 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 10.56     ┆ 0.0       ┆ 0.0       ┆ null     │
│          ┆ 00:53:21   ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│          ┆            ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2        ┆ 2022-01-01 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 11.8      ┆ 2.5       ┆ 0.0       ┆ 0.15     │
│          ┆ 00:25:21   ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│          ┆            ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2        ┆ 2022-01-01 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 30.3      ┆ 2.5       ┆ 0.0       ┆ null     │
│          ┆ 00:36:48   ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│          ┆            ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆          │
└──────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [22]:
# 13. Pivot de données (pivot/reshape)

print("Pivot de données (ex. pivot sur 'VendorID' et somme de 'total_amount')")

df_pivot = df.pivot(
    values="total_amount",
    index="VendorID",
    on="payment_type",
    aggregate_function="sum"
)

df_pivot

Pivot de données (ex. pivot sur 'VendorID' et somme de 'total_amount')

shape: (4, 7)
┌──────────┬──────────┬──────────┬────────────┬───────────┬──────┬───────────┐
│ VendorID ┆ 1        ┆ 2        ┆ 4          ┆ 3         ┆ 5    ┆ 0         │
│ ---      ┆ ---      ┆ ---      ┆ ---        ┆ ---       ┆ ---  ┆ ---       │
│ i64      ┆ f64      ┆ f64      ┆ f64        ┆ f64       ┆ f64  ┆ f64       │
╞══════════╪══════════╪══════════╪════════════╪═══════════╪══════╪═══════════╡
│ 1        ┆ 1.1102e7 ┆ 2.3045e6 ┆ 452188.01  ┆ 129282.16 ┆ 11.8 ┆ 303494.16 │
│ 2        ┆ 2.5891e7 ┆ 5.7985e6 ┆ -123957.87 ┆ -38391.83 ┆ null ┆ 1.1995e6  │
│ 6        ┆ null     ┆ null     ┆ null       ┆ null      ┆ null ┆ 212038.93 │
│ 5        ┆ null     ┆ null     ┆ null       ┆ null      ┆ null ┆ 2159.92   │
└──────────┴──────────┴──────────┴────────────┴───────────┴──────┴───────────┘

In [23]:
# 14. Filtrage conditionnel avancé

df_filtered_advanced = df.filter(
    (pl.col("trip_distance") > 2.0) & (pl.col("total_amount") > 20)
)
df_filtered_advanced.head()

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 0.3       ┆ 21.95     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 30.3      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 56.35     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:40:15  ┆ 01:09:48  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 26.0      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:20:50  ┆ 00:34:58  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 3.0       ┆ … ┆ 0.3       ┆ 20.75     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:33:52  ┆ 00:47:28  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [24]:
df_complex = df.with_columns([
    (pl.col("tip_amount") / pl.col("total_amount") * 100).alias("tip_percentage"),
    pl.when(pl.col("trip_distance") > 10)
      .then(pl.lit("long_trip"))
      .otherwise(pl.lit("short_trip"))
      .alias("trip_category")
])

df_complex.head()

shape: (5, 21)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ congestio ┆ airport_f ┆ tip_perce ┆ trip_cate │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ n_surchar ┆ ee        ┆ ntage     ┆ gory      │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ge        ┆ ---       ┆ ---       ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ str       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆           ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 2.5       ┆ 0.0       ┆ 16.628702 ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 30.075188 ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 16.666667 ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 2.5       ┆ 0.0       ┆ 0.0       ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 2.5       ┆ 0.0       ┆ 9.90099   ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [25]:
# 15. Calculs complexes avec des expressions multiples

df_complex = df.with_columns([
    (pl.col("tip_amount") / pl.col("total_amount") * 100).alias("tip_percentage"),
    pl.when(pl.col("trip_distance") > 10)
      .then(pl.lit("long_trip"))
      .otherwise(pl.lit("short_trip"))
      .alias("trip_category")
])

df_complex.head()

shape: (5, 21)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ congestio ┆ airport_f ┆ tip_perce ┆ trip_cate │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ n_surchar ┆ ee        ┆ ntage     ┆ gory      │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ge        ┆ ---       ┆ ---       ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ str       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆           ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 2.5       ┆ 0.0       ┆ 16.628702 ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 30.075188 ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 16.666667 ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 2.5       ┆ 0.0       ┆ 0.0       ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 2.5       ┆ 0.0       ┆ 9.90099   ┆ short_tri │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆ p         │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [26]:
# 16. Manipulation de colonnes avec `melt` (dénormalisation)
print("Manipulation de colonnes avec `melt` (ex. denormalisation de 'VendorID' et 'total_amount')")
df_melted = df.melt(
    id_vars="VendorID",
    value_vars=["total_amount", "tip_amount"],
    variable_name="amount_type",
    value_name="amount"
)
df_melted.head()

Manipulation de colonnes avec `melt` (ex. denormalisation de 'VendorID' et 'total_amount')

/tmp/ipykernel_9355/2053416918.py:3: DeprecationWarning: `DataFrame.melt` is deprecated. Use `unpivot` instead, with `index` instead of `id_vars` and `on` instead of `value_vars`
  df_melted = df.melt(

shape: (5, 3)
┌──────────┬──────────────┬────────┐
│ VendorID ┆ amount_type  ┆ amount │
│ ---      ┆ ---          ┆ ---    │
│ i64      ┆ str          ┆ f64    │
╞══════════╪══════════════╪════════╡
│ 1        ┆ total_amount ┆ 21.95  │
│ 1        ┆ total_amount ┆ 13.3   │
│ 2        ┆ total_amount ┆ 10.56  │
│ 2        ┆ total_amount ┆ 11.8   │
│ 2        ┆ total_amount ┆ 30.3   │
└──────────┴──────────────┴────────┘

#### Exemple

In [27]:
df.filter(
    pl.col('trip_distance') <= 100,
    pl.col('total_amount').is_not_null()
).select(
    pl.col('trip_distance','total_amount')
).sort('trip_distance',descending=True).head(5)

shape: (5, 2)
┌───────────────┬──────────────┐
│ trip_distance ┆ total_amount │
│ ---           ┆ ---          │
│ f64           ┆ f64          │
╞═══════════════╪══════════════╡
│ 99.46         ┆ 206.85       │
│ 99.2          ┆ 20.75        │
│ 98.9          ┆ 16.8         │
│ 98.4          ┆ 18.35        │
│ 98.15         ┆ 303.1        │
└───────────────┴──────────────┘

In [28]:
df.filter(
    pl.col('trip_distance') <= 100,
    (pl.col('tpep_dropoff_datetime')-pl.col('tpep_pickup_datetime')).dt.total_minutes() <=45,
    pl.col('total_amount').is_not_null()
).select(
    pl.col('passenger_count').max().alias('Max passenger count'),
    pl.col('passenger_count').mean().alias('Avg passenger per trip'),
    pl.col('trip_distance').mean().alias('Avg Trip_distance'),
    (pl.col('tpep_dropoff_datetime')-pl.col('tpep_pickup_datetime')).mean().alias('Avg travel time'),
    (pl.col('tpep_dropoff_datetime')-pl.col('tpep_pickup_datetime')).median().alias('Median')
)

shape: (1, 5)
┌───────────────┬──────────────────────────┬───────────────────┬────────────────────┬──────────────┐
│ Max passenger ┆ Avg passenger per trip   ┆ Avg Trip_distance ┆ Avg travel time    ┆ Median       │
│ count         ┆ ---                      ┆ ---               ┆ ---                ┆ ---          │
│ ---           ┆ f64                      ┆ f64               ┆ duration[ns]       ┆ duration[ns] │
│ f64           ┆                          ┆                   ┆                    ┆              │
╞═══════════════╪══════════════════════════╪═══════════════════╪════════════════════╪══════════════╡
│ 9.0           ┆ 1.388825                 ┆ 2.940509          ┆ 12m 8s 373439203ns ┆ 10m 3s       │
└───────────────┴──────────────────────────┴───────────────────┴────────────────────┴──────────────┘

In [29]:
df = df.with_columns(
    ((pl.col('tpep_dropoff_datetime')-pl.col('tpep_pickup_datetime')).dt.total_minutes()).alias("total_minutes")
)

df.head(5)

shape: (5, 20)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ total_amo ┆ congestio ┆ airport_f ┆ total_min │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ n_surchar ┆ ee        ┆ utes      │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ge        ┆ ---       ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ i64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ f64       ┆           ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 21.95     ┆ 2.5       ┆ 0.0       ┆ 17        │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 13.3      ┆ 0.0       ┆ 0.0       ┆ 8         │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 10.56     ┆ 0.0       ┆ 0.0       ┆ 8         │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 11.8      ┆ 2.5       ┆ 0.0       ┆ 10        │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 30.3      ┆ 2.5       ┆ 0.0       ┆ 37        │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [30]:
df.filter(
    pl.col('trip_distance') <= 100,
    pl.col('total_minutes') <=45,
    pl.col('total_amount').is_not_null()
).select(
    pl.col('passenger_count').max().alias('Max passenger count'),
    pl.col('passenger_count').mean().alias('Avg passenger per trip'),
    pl.col('trip_distance').mean().alias('Avg Trip_distance'),
    pl.col('total_minutes').mean().alias('Avg travel time'),
    pl.col('total_minutes').median().alias('Median')
)

shape: (1, 5)
┌─────────────────────┬────────────────────────┬───────────────────┬─────────────────┬────────┐
│ Max passenger count ┆ Avg passenger per trip ┆ Avg Trip_distance ┆ Avg travel time ┆ Median │
│ ---                 ┆ ---                    ┆ ---               ┆ ---             ┆ ---    │
│ f64                 ┆ f64                    ┆ f64               ┆ f64             ┆ f64    │
╞═════════════════════╪════════════════════════╪═══════════════════╪═════════════════╪════════╡
│ 9.0                 ┆ 1.388825               ┆ 2.940509          ┆ 11.655341       ┆ 10.0   │
└─────────────────────┴────────────────────────┴───────────────────┴─────────────────┴────────┘

In [31]:
df.select(
    pl.col('tpep_pickup_datetime').dt.strftime('%A').alias('day_name'),
    pl.col('total_minutes')
).group_by('day_name').agg(
    avg_total_time=pl.col('total_minutes').mean(),
    median_total_time= pl.col('total_minutes').median()
)

shape: (7, 3)
┌───────────┬────────────────┬───────────────────┐
│ day_name  ┆ avg_total_time ┆ median_total_time │
│ ---       ┆ ---            ┆ ---               │
│ str       ┆ f64            ┆ f64               │
╞═══════════╪════════════════╪═══════════════════╡
│ Saturday  ┆ 13.529008      ┆ 9.0               │
│ Tuesday   ┆ 13.452088      ┆ 10.0              │
│ Monday    ┆ 13.532508      ┆ 10.0              │
│ Friday    ┆ 14.339303      ┆ 10.0              │
│ Wednesday ┆ 13.51629       ┆ 10.0              │
│ Thursday  ┆ 13.995267      ┆ 10.0              │
│ Sunday    ┆ 13.700802      ┆ 9.0               │
└───────────┴────────────────┴───────────────────┘