# Exercice SQLAlchemy
- create database "from_python_DB" via SSMS
- create tables "iris_nopandas" and "iris_pandas"
- insert iris data (from seaborn) into those tables:
  1. manual CRUD into "iris_nopandas"
  2. via pandas into "iris_pandas"
- select all data from iris table from "iris_pandas" in both ways:
  1. into a pyhton list (no pandas) 
  2. into a dataframe (via pandas)

In [2]:
from seaborn import load_dataset
iris = load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Establish connection

In [19]:
import pandas as pd
from sqlalchemy import (create_engine, text)

engine = create_engine('mysql+pymysql://dorian:781227@localhost/from_python_db', echo=True)

In [20]:
open_connection = engine.connect()

result_query = open_connection.execute(text("""SELECT 'Hello World'"""))

res = (list(result_query)).copy()

open_connection.close()
print(list(result_query))
print(res)

2024-07-08 10:06:21,425 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-07-08 10:06:21,427 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 10:06:21,429 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-07-08 10:06:21,430 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 10:06:21,432 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-07-08 10:06:21,433 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 10:06:21,436 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-08 10:06:21,438 INFO sqlalchemy.engine.Engine SELECT 'Hello World'
2024-07-08 10:06:21,438 INFO sqlalchemy.engine.Engine [generated in 0.00210s] {}
2024-07-08 10:06:21,440 INFO sqlalchemy.engine.Engine ROLLBACK
[]
[('Hello World',)]

## Create Table without pandas

In [44]:
create_table_SQL = """
                        CREATE TABLE iris_no_pandas
                        (
                            id INT unsigned NOT NULL PRIMARY KEY AUTO_INCREMENT,
                            sepal_length FLOAT,
                            sepal_width FLOAT,
                            petal_length FLOAT,
                            petal_width FLOAT,
                            species VARCHAR(30)
                        )
                        """

select_query = """
                    DESCRIBE iris_no_pandas    
                """

drop_query = """
                DROP TABLE iris_no_pandas
            """

In [45]:
with engine.connect() as connection:
    connection.execute(text(create_table_SQL))
    result_query = connection.execute(text(select_query))
    res = (list(result_query)).copy()

    connection.commit()
print("-"*25)
print(res)

2024-07-08 11:32:32,583 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-08 11:32:32,585 INFO sqlalchemy.engine.Engine
                        CREATE TABLE iris_no_pandas
                        (
                            id INT unsigned NOT NULL PRIMARY KEY AUTO_INCREMENT,
                            sepal_length FLOAT,
                            sepal_width FLOAT,
                            petal_length FLOAT,
                            petal_width FLOAT,
                            species VARCHAR(30)
                        )

2024-07-08 11:32:32,586 INFO sqlalchemy.engine.Engine [generated in 0.00317s] {}
2024-07-08 11:32:32,604 INFO sqlalchemy.engine.Engine
                    DESCRIBE iris_no_pandas

2024-07-08 11:32:32,606 INFO sqlalchemy.engine.Engine [cached since 4079s ago] {}
2024-07-08 11:32:32,610 INFO sqlalchemy.engine.Engine COMMIT
-------------------------
[('id', 'int unsigned', 'NO', 'PRI', None, 'auto_increment'), ('sepal_length', 'float', 'YES', '', None, ''), ('sepal_width', 'float', 'YES', '', None, ''), ('petal_length', 'float', 'YES', '', None, ''), ('petal_width', 'float', 'YES', '', None, ''), ('species', 'varchar(30)', 'YES', '', None, '')]

## Create Table with Pandas

In [34]:
df = pd.DataFrame(iris)
with engine.connect() as connection:
    df.to_sql(name='iris_pandas', con=connection, if_exists='replace', index=True)
    df_from_sql = pd.read_sql_table(table_name='iris_pandas', con=connection)

df_from_sql

2024-07-08 10:31:08,375 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-08 10:31:08,380 INFO sqlalchemy.engine.Engine DESCRIBE `from_python_db`.`iris_pandas`
2024-07-08 10:31:08,382 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 10:31:08,386 INFO sqlalchemy.engine.Engine
CREATE TABLE iris_pandas (
	`index` BIGINT,
	sepal_length FLOAT(53),
	sepal_width FLOAT(53),
	petal_length FLOAT(53),
	petal_width FLOAT(53),
	species TEXT
)


2024-07-08 10:31:08,387 INFO sqlalchemy.engine.Engine [no key 0.00092s] {}
2024-07-08 10:31:08,407 INFO sqlalchemy.engine.Engine CREATE INDEX ix_iris_pandas_index ON iris_pandas (`index`)
2024-07-08 10:31:08,409 INFO sqlalchemy.engine.Engine [no key 0.00200s] {}
2024-07-08 10:31:08,432 INFO sqlalchemy.engine.Engine INSERT INTO iris_pandas (`index`, sepal_length, sepal_width, petal_length, petal_width, species) VALUES (%(index)s, %(sepal_length)s, %(sepal_width)s, %(petal_length)s, %(petal_width)s, %(species)s)
2024-07-08 10:31:08,433 INFO sqlalchemy.engine.Engine [generated in 0.00285s] [{'index': 0, 'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 1, 'sepal_length': 4.9, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 2, 'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 3, 'sepal_length': 4.6, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 4, 'sepal_length': 5.0, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 5, 'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.7, 'petal_width': 0.4, 'species': 'setosa'}, {'index': 6, 'sepal_length': 4.6, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa'}, {'index': 7, 'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}  ... displaying 10 of 150 total bound parameter sets ...  {'index': 148, 'sepal_length': 6.2, 'sepal_width': 3.4, 'petal_length': 5.4, 'petal_width': 2.3, 'species': 'virginica'}, {'index': 149, 'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8, 'species': 'virginica'}]
2024-07-08 10:31:08,441 INFO sqlalchemy.engine.Engine COMMIT
2024-07-08 10:31:08,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-08 10:31:08,448 INFO sqlalchemy.engine.Engine DESCRIBE `from_python_db`.`iris_pandas`
2024-07-08 10:31:08,449 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 10:31:08,454 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `from_python_db`
2024-07-08 10:31:08,455 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 10:31:08,459 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `from_python_db`
2024-07-08 10:31:08,460 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 10:31:08,474 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `iris_pandas`
2024-07-08 10:31:08,476 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 10:31:08,482 INFO sqlalchemy.engine.Engine SELECT iris_pandas.`index`, iris_pandas.sepal_length, iris_pandas.sepal_width, iris_pandas.petal_length, iris_pandas.petal_width, iris_pandas.species
FROM iris_pandas
2024-07-08 10:31:08,483 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {}
2024-07-08 10:31:08,493 INFO sqlalchemy.engine.Engine COMMIT

     index  sepal_length  sepal_width  petal_length  petal_width    species
0        0           5.1          3.5           1.4          0.2     setosa
1        1           4.9          3.0           1.4          0.2     setosa
2        2           4.7          3.2           1.3          0.2     setosa
3        3           4.6          3.1           1.5          0.2     setosa
4        4           5.0          3.6           1.4          0.2     setosa
..     ...           ...          ...           ...          ...        ...
145    145           6.7          3.0           5.2          2.3  virginica
146    146           6.3          2.5           5.0          1.9  virginica
147    147           6.5          3.0           5.2          2.0  virginica
148    148           6.2          3.4           5.4          2.3  virginica
149    149           5.9          3.0           5.1          1.8  virginica

[150 rows x 6 columns]

## Insert Data into table

In [46]:
list_of_dict = iris.to_dict('records')

block_insert = """
                    INSERT INTO iris_no_pandas (sepal_length, sepal_width, petal_length, petal_width, species)
                    VALUES (:sepal_length, :sepal_width, :petal_length, :petal_width, :species)
"""

with engine.connect() as connection:
    connection.execute(text(block_insert), list_of_dict)
    connection.commit()

2024-07-08 11:32:45,160 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-08 11:32:45,162 INFO sqlalchemy.engine.Engine
                    INSERT INTO iris_no_pandas (sepal_length, sepal_width, petal_length, petal_width, species)
                    VALUES (%(sepal_length)s, %(sepal_width)s, %(petal_length)s, %(petal_width)s, %(species)s)

2024-07-08 11:32:45,164 INFO sqlalchemy.engine.Engine [cached since 331s ago] [{'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}, {'sepal_length': 4.9, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}, {'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa'}, {'sepal_length': 4.6, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}, {'sepal_length': 5.0, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}, {'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.7, 'petal_width': 0.4, 'species': 'setosa'}, {'sepal_length': 4.6, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa'}, {'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}  ... displaying 10 of 150 total bound parameter sets ...  {'sepal_length': 6.2, 'sepal_width': 3.4, 'petal_length': 5.4, 'petal_width': 2.3, 'species': 'virginica'}, {'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8, 'species': 'virginica'}]
2024-07-08 11:32:45,170 INFO sqlalchemy.engine.Engine COMMIT

## Insert Data into table with Pandas

In [48]:
df = pd.DataFrame(iris)

with engine.connect() as connection:
    df.to_sql('iris_pandas', con=connection, if_exists='replace', index=True)

2024-07-08 11:39:45,397 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-08 11:39:45,403 INFO sqlalchemy.engine.Engine DESCRIBE `from_python_db`.`iris_pandas`
2024-07-08 11:39:45,404 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 11:39:45,407 INFO sqlalchemy.engine.Engine DESCRIBE `from_python_db`.`iris_pandas`
2024-07-08 11:39:45,408 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 11:39:45,412 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `from_python_db`
2024-07-08 11:39:45,413 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 11:39:45,417 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `from_python_db`
2024-07-08 11:39:45,418 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 11:39:45,421 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `iris_pandas`
2024-07-08 11:39:45,422 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 11:39:45,426 INFO sqlalchemy.engine.Engine
DROP TABLE iris_pandas
2024-07-08 11:39:45,427 INFO sqlalchemy.engine.Engine [no key 0.00097s] {}
2024-07-08 11:39:45,440 INFO sqlalchemy.engine.Engine
CREATE TABLE iris_pandas (
	`index` BIGINT,
	sepal_length FLOAT(53),
	sepal_width FLOAT(53),
	petal_length FLOAT(53),
	petal_width FLOAT(53),
	species TEXT
)


2024-07-08 11:39:45,442 INFO sqlalchemy.engine.Engine [no key 0.00184s] {}
2024-07-08 11:39:45,463 INFO sqlalchemy.engine.Engine CREATE INDEX ix_iris_pandas_index ON iris_pandas (`index`)
2024-07-08 11:39:45,465 INFO sqlalchemy.engine.Engine [no key 0.00180s] {}
2024-07-08 11:39:45,486 INFO sqlalchemy.engine.Engine INSERT INTO iris_pandas (`index`, sepal_length, sepal_width, petal_length, petal_width, species) VALUES (%(index)s, %(sepal_length)s, %(sepal_width)s, %(petal_length)s, %(petal_width)s, %(species)s)
2024-07-08 11:39:45,487 INFO sqlalchemy.engine.Engine [generated in 0.00216s] [{'index': 0, 'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 1, 'sepal_length': 4.9, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 2, 'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 3, 'sepal_length': 4.6, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 4, 'sepal_length': 5.0, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}, {'index': 5, 'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.7, 'petal_width': 0.4, 'species': 'setosa'}, {'index': 6, 'sepal_length': 4.6, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa'}, {'index': 7, 'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}  ... displaying 10 of 150 total bound parameter sets ...  {'index': 148, 'sepal_length': 6.2, 'sepal_width': 3.4, 'petal_length': 5.4, 'petal_width': 2.3, 'species': 'virginica'}, {'index': 149, 'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8, 'species': 'virginica'}]
2024-07-08 11:39:45,494 INFO sqlalchemy.engine.Engine COMMIT

## Select all data into python list

- select all data from iris table from "iris_pandas" in both ways:
  1. into a pyhton list (no pandas) 
  2. into a dataframe (via pandas)

### No Pandas:

In [51]:
select_query = """
                SELECT * FROM iris_pandas"""

with engine.connect() as connection:
    no_pandas_select = connection.execute(text(select_query))

print("-"*50)
print(list(no_pandas_select))

2024-07-08 11:43:32,443 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-08 11:43:32,445 INFO sqlalchemy.engine.Engine
                SELECT * FROM iris_pandas
2024-07-08 11:43:32,446 INFO sqlalchemy.engine.Engine [cached since 60.81s ago] {}
2024-07-08 11:43:32,450 INFO sqlalchemy.engine.Engine ROLLBACK
--------------------------------------------------
[(0, 5.1, 3.5, 1.4, 0.2, 'setosa'), (1, 4.9, 3.0, 1.4, 0.2, 'setosa'), (2, 4.7, 3.2, 1.3, 0.2, 'setosa'), (3, 4.6, 3.1, 1.5, 0.2, 'setosa'), (4, 5.0, 3.6, 1.4, 0.2, 'setosa'), (5, 5.4, 3.9, 1.7, 0.4, 'setosa'), (6, 4.6, 3.4, 1.4, 0.3, 'setosa'), (7, 5.0, 3.4, 1.5, 0.2, 'setosa'), (8, 4.4, 2.9, 1.4, 0.2, 'setosa'), (9, 4.9, 3.1, 1.5, 0.1, 'setosa'), (10, 5.4, 3.7, 1.5, 0.2, 'setosa'), (11, 4.8, 3.4, 1.6, 0.2, 'setosa'), (12, 4.8, 3.0, 1.4, 0.1, 'setosa'), (13, 4.3, 3.0, 1.1, 0.1, 'setosa'), (14, 5.8, 4.0, 1.2, 0.2, 'setosa'), (15, 5.7, 4.4, 1.5, 0.4, 'setosa'), (16, 5.4, 3.9, 1.3, 0.4, 'setosa'), (17, 5.1, 3.5, 1.4, 0.3, 'setosa'), (18, 5.7, 3.8, 1.7, 0.3, 'setosa'), (19, 5.1, 3.8, 1.5, 0.3, 'setosa'), (20, 5.4, 3.4, 1.7, 0.2, 'setosa'), (21, 5.1, 3.7, 1.5, 0.4, 'setosa'), (22, 4.6, 3.6, 1.0, 0.2, 'setosa'), (23, 5.1, 3.3, 1.7, 0.5, 'setosa'), (24, 4.8, 3.4, 1.9, 0.2, 'setosa'), (25, 5.0, 3.0, 1.6, 0.2, 'setosa'), (26, 5.0, 3.4, 1.6, 0.4, 'setosa'), (27, 5.2, 3.5, 1.5, 0.2, 'setosa'), (28, 5.2, 3.4, 1.4, 0.2, 'setosa'), (29, 4.7, 3.2, 1.6, 0.2, 'setosa'), (30, 4.8, 3.1, 1.6, 0.2, 'setosa'), (31, 5.4, 3.4, 1.5, 0.4, 'setosa'), (32, 5.2, 4.1, 1.5, 0.1, 'setosa'), (33, 5.5, 4.2, 1.4, 0.2, 'setosa'), (34, 4.9, 3.1, 1.5, 0.2, 'setosa'), (35, 5.0, 3.2, 1.2, 0.2, 'setosa'), (36, 5.5, 3.5, 1.3, 0.2, 'setosa'), (37, 4.9, 3.6, 1.4, 0.1, 'setosa'), (38, 4.4, 3.0, 1.3, 0.2, 'setosa'), (39, 5.1, 3.4, 1.5, 0.2, 'setosa'), (40, 5.0, 3.5, 1.3, 0.3, 'setosa'), (41, 4.5, 2.3, 1.3, 0.3, 'setosa'), (42, 4.4, 3.2, 1.3, 0.2, 'setosa'), (43, 5.0, 3.5, 1.6, 0.6, 'setosa'), (44, 5.1, 3.8, 1.9, 0.4, 'setosa'), (45, 4.8, 3.0, 1.4, 0.3, 'setosa'), (46, 5.1, 3.8, 1.6, 0.2, 'setosa'), (47, 4.6, 3.2, 1.4, 0.2, 'setosa'), (48, 5.3, 3.7, 1.5, 0.2, 'setosa'), (49, 5.0, 3.3, 1.4, 0.2, 'setosa'), (50, 7.0, 3.2, 4.7, 1.4, 'versicolor'), (51, 6.4, 3.2, 4.5, 1.5, 'versicolor'), (52, 6.9, 3.1, 4.9, 1.5, 'versicolor'), (53, 5.5, 2.3, 4.0, 1.3, 'versicolor'), (54, 6.5, 2.8, 4.6, 1.5, 'versicolor'), (55, 5.7, 2.8, 4.5, 1.3, 'versicolor'), (56, 6.3, 3.3, 4.7, 1.6, 'versicolor'), (57, 4.9, 2.4, 3.3, 1.0, 'versicolor'), (58, 6.6, 2.9, 4.6, 1.3, 'versicolor'), (59, 5.2, 2.7, 3.9, 1.4, 'versicolor'), (60, 5.0, 2.0, 3.5, 1.0, 'versicolor'), (61, 5.9, 3.0, 4.2, 1.5, 'versicolor'), (62, 6.0, 2.2, 4.0, 1.0, 'versicolor'), (63, 6.1, 2.9, 4.7, 1.4, 'versicolor'), (64, 5.6, 2.9, 3.6, 1.3, 'versicolor'), (65, 6.7, 3.1, 4.4, 1.4, 'versicolor'), (66, 5.6, 3.0, 4.5, 1.5, 'versicolor'), (67, 5.8, 2.7, 4.1, 1.0, 'versicolor'), (68, 6.2, 2.2, 4.5, 1.5, 'versicolor'), (69, 5.6, 2.5, 3.9, 1.1, 'versicolor'), (70, 5.9, 3.2, 4.8, 1.8, 'versicolor'), (71, 6.1, 2.8, 4.0, 1.3, 'versicolor'), (72, 6.3, 2.5, 4.9, 1.5, 'versicolor'), (73, 6.1, 2.8, 4.7, 1.2, 'versicolor'), (74, 6.4, 2.9, 4.3, 1.3, 'versicolor'), (75, 6.6, 3.0, 4.4, 1.4, 'versicolor'), (76, 6.8, 2.8, 4.8, 1.4, 'versicolor'), (77, 6.7, 3.0, 5.0, 1.7, 'versicolor'), (78, 6.0, 2.9, 4.5, 1.5, 'versicolor'), (79, 5.7, 2.6, 3.5, 1.0, 'versicolor'), (80, 5.5, 2.4, 3.8, 1.1, 'versicolor'), (81, 5.5, 2.4, 3.7, 1.0, 'versicolor'), (82, 5.8, 2.7, 3.9, 1.2, 'versicolor'), (83, 6.0, 2.7, 5.1, 1.6, 'versicolor'), (84, 5.4, 3.0, 4.5, 1.5, 'versicolor'), (85, 6.0, 3.4, 4.5, 1.6, 'versicolor'), (86, 6.7, 3.1, 4.7, 1.5, 'versicolor'), (87, 6.3, 2.3, 4.4, 1.3, 'versicolor'), (88, 5.6, 3.0, 4.1, 1.3, 'versicolor'), (89, 5.5, 2.5, 4.0, 1.3, 'versicolor'), (90, 5.5, 2.6, 4.4, 1.2, 'versicolor'), (91, 6.1, 3.0, 4.6, 1.4, 'versicolor'), (92, 5.8, 2.6, 4.0, 1.2, 'versicolor'), (93, 5.0, 2.3, 3.3, 1.0, 'versicolor'), (94, 5.6, 2.7, 4.2, 1.3, 'versicolor'), (95, 5.7, 3.0, 4.2, 1.2, 'versicolor'), (96, 5.7, 2.9, 4.2, 1.3, 'versicolor'), (97, 6.2, 2.9, 4.3, 1.3, 'versicolor'), (98, 5.1, 2.5, 3.0, 1.1, 'versicolor'), (99, 5.7, 2.8, 4.1, 1.3, 'versicolor'), (100, 6.3, 3.3, 6.0, 2.5, 'virginica'), (101, 5.8, 2.7, 5.1, 1.9, 'virginica'), (102, 7.1, 3.0, 5.9, 2.1, 'virginica'), (103, 6.3, 2.9, 5.6, 1.8, 'virginica'), (104, 6.5, 3.0, 5.8, 2.2, 'virginica'), (105, 7.6, 3.0, 6.6, 2.1, 'virginica'), (106, 4.9, 2.5, 4.5, 1.7, 'virginica'), (107, 7.3, 2.9, 6.3, 1.8, 'virginica'), (108, 6.7, 2.5, 5.8, 1.8, 'virginica'), (109, 7.2, 3.6, 6.1, 2.5, 'virginica'), (110, 6.5, 3.2, 5.1, 2.0, 'virginica'), (111, 6.4, 2.7, 5.3, 1.9, 'virginica'), (112, 6.8, 3.0, 5.5, 2.1, 'virginica'), (113, 5.7, 2.5, 5.0, 2.0, 'virginica'), (114, 5.8, 2.8, 5.1, 2.4, 'virginica'), (115, 6.4, 3.2, 5.3, 2.3, 'virginica'), (116, 6.5, 3.0, 5.5, 1.8, 'virginica'), (117, 7.7, 3.8, 6.7, 2.2, 'virginica'), (118, 7.7, 2.6, 6.9, 2.3, 'virginica'), (119, 6.0, 2.2, 5.0, 1.5, 'virginica'), (120, 6.9, 3.2, 5.7, 2.3, 'virginica'), (121, 5.6, 2.8, 4.9, 2.0, 'virginica'), (122, 7.7, 2.8, 6.7, 2.0, 'virginica'), (123, 6.3, 2.7, 4.9, 1.8, 'virginica'), (124, 6.7, 3.3, 5.7, 2.1, 'virginica'), (125, 7.2, 3.2, 6.0, 1.8, 'virginica'), (126, 6.2, 2.8, 4.8, 1.8, 'virginica'), (127, 6.1, 3.0, 4.9, 1.8, 'virginica'), (128, 6.4, 2.8, 5.6, 2.1, 'virginica'), (129, 7.2, 3.0, 5.8, 1.6, 'virginica'), (130, 7.4, 2.8, 6.1, 1.9, 'virginica'), (131, 7.9, 3.8, 6.4, 2.0, 'virginica'), (132, 6.4, 2.8, 5.6, 2.2, 'virginica'), (133, 6.3, 2.8, 5.1, 1.5, 'virginica'), (134, 6.1, 2.6, 5.6, 1.4, 'virginica'), (135, 7.7, 3.0, 6.1, 2.3, 'virginica'), (136, 6.3, 3.4, 5.6, 2.4, 'virginica'), (137, 6.4, 3.1, 5.5, 1.8, 'virginica'), (138, 6.0, 3.0, 4.8, 1.8, 'virginica'), (139, 6.9, 3.1, 5.4, 2.1, 'virginica'), (140, 6.7, 3.1, 5.6, 2.4, 'virginica'), (141, 6.9, 3.1, 5.1, 2.3, 'virginica'), (142, 5.8, 2.7, 5.1, 1.9, 'virginica'), (143, 6.8, 3.2, 5.9, 2.3, 'virginica'), (144, 6.7, 3.3, 5.7, 2.5, 'virginica'), (145, 6.7, 3.0, 5.2, 2.3, 'virginica'), (146, 6.3, 2.5, 5.0, 1.9, 'virginica'), (147, 6.5, 3.0, 5.2, 2.0, 'virginica'), (148, 6.2, 3.4, 5.4, 2.3, 'virginica'), (149, 5.9, 3.0, 5.1, 1.8, 'virginica')]

### With Pandas:

In [53]:
with engine.connect() as connection:
    df_from_sql = pd.read_sql_query(sql="SELECT * FROM iris_pandas", con=connection)

df_from_sql

2024-07-08 11:45:46,711 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-08 11:45:46,714 INFO sqlalchemy.engine.Engine SELECT * FROM iris_pandas
2024-07-08 11:45:46,716 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-08 11:45:46,726 INFO sqlalchemy.engine.Engine ROLLBACK

     index  sepal_length  sepal_width  petal_length  petal_width    species
0        0           5.1          3.5           1.4          0.2     setosa
1        1           4.9          3.0           1.4          0.2     setosa
2        2           4.7          3.2           1.3          0.2     setosa
3        3           4.6          3.1           1.5          0.2     setosa
4        4           5.0          3.6           1.4          0.2     setosa
..     ...           ...          ...           ...          ...        ...
145    145           6.7          3.0           5.2          2.3  virginica
146    146           6.3          2.5           5.0          1.9  virginica
147    147           6.5          3.0           5.2          2.0  virginica
148    148           6.2          3.4           5.4          2.3  virginica
149    149           5.9          3.0           5.1          1.8  virginica

[150 rows x 6 columns]