# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
# first url
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
# Second assign df to chipo
chipo = pd.read_csv(url, sep="\t")

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [33]:
# Solution 1
print(chipo.index)
chipo.shape

RangeIndex(start=0, stop=4622, step=1)

(4622, 5)

In [15]:
# Solution 2
chipo.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [24]:
print(len(chipo.columns.to_list()))
chipo.shape[1]

5

5

### Step 7. Print the name of all the columns.

In [25]:
chipo.columns.to_list()

[&#39;order_id&#39;, &#39;quantity&#39;, &#39;item_name&#39;, &#39;choice_description&#39;, &#39;item_price&#39;]

### Step 8. How is the dataset indexed?

In [28]:
chipo.

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [59]:
chipo.head()
chipo.groupby('item_name')['order_id'].value_counts().idxmax()[0]

&#39;Chicken Bowl&#39;

### Step 10. For the most-ordered item, how many items were ordered?

In [97]:
# first Method
chipo.quantity[chipo.item_name == chipo.groupby('item_name')['order_id'].value_counts().idxmax()[0]].sum()

# Second method
chipo.groupby("item_name")['quantity'].sum().sort_values(ascending=False)[0]

# third Method
# c = chipo.groupby('item_name')
# c = c.sum()
# c
# c = c.sort_values(['quantity'], ascending=False)
# c.head(1)

761

### Step 11. What was the most ordered item in the choice_description column?

In [78]:
chipo.groupby("choice_description").sum().sort_values(by="quantity", ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [98]:
chipo.groupby("item_name").nunique().count() # how many type of item 
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [113]:

type(chipo.item_price[0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [120]:
chipo.item_price = chipo.item_price.map(lambda ip: float(ip[1:])) 
# or use chipo.item_price.map(lambda ip: ip[1:]).as_type(float)

#### Step 13.c. Check the item price type

In [121]:
type(chipo.item_price[0])

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [123]:
revenue = (chipo.quantity * chipo.item_price).sum()

### Step 15. How many orders were made in the period?

In [128]:
orders = chipo.order_id.value_counts().count()
chipo.groupby("order_id").nunique().sum()["order_id"]

1834

### Step 16. What is the average revenue amount per order?

In [130]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [131]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [141]:
chipo.groupby('item_name').ngroups

50

In [143]:
chipo.item_name.value_counts().count()

50