# Sakila: bonus pandas

## A) Importez l'excel Sakila 
(ou établir une connexion avec un SQL serveur Sakila, via SQLAlchemy)

vous allez utiliser les tables:
- actor
- film
- category

- film_actor
- film_category   
    
## B) Repondez au questions suivantes via des manimpulation Pandas 
#### Bonus : comparez avec des requêtes SQL equivalentes

1. Trouvez le numéro d'identification, le prénom et le nom de famille d'un acteur, dont vous ne connaissez que le prénom «William».
1. Affichez le prénom et le nom de chaque acteur dans une seule colonne en majuscules. Nommez la colonne Nom de l'acteur.
1. Sélectionner les films sauf 'GREASE YOUTH'.
2. Trouvez tous les acteurs dont le nom contient les lettres « GEN ».
3. Trouvez tous les acteurs dont les noms contiennent les lettres « LI » ou la 3e lettre est « E » . Cette fois, triez les lignes par nom et prénom, dans cet ordre.
4. Sélectionner les 5 premières descriptions de films ayant une description contenant le mot "Woman".
6. Combien y a-t-il de noms de famille d'acteurs distincts?
7. Les acteurs ont joué dans quel film ?
8. Énumérez les noms de famille des acteurs, ainsi que le nombre d'acteurs qui portent ce nom de famille. Triez et sélectionnez les 5 noms les plus utilisés dans la base de données.
9. Lister les noms de famille des acteurs et le nombre d'acteurs qui portent ce nom de famille, mais uniquement pour les noms partagés par au moins deux acteurs.
10. Quelle est la durée moyenne des films par catégorie?
11. Quels sont les acteurs qui ont déjà joué dans un film d'horreur (catégorie 'Horror’) ?
12. Quels sont les acteurs qui ont joué avec Penelope Guiness ?
13. Quels sont les acteurs qui ont joué dans toutes les catégories de film ?

In [6]:
import pandas as pd

# Load the Excel file
file_path = './sakila.xlsx'
sakila_data = pd.ExcelFile(file_path)

# Display sheet names to understand the structure
sakila_data.sheet_names

['actor', 'film', 'category', 'film_actor', 'film_category']

In [7]:
# Load each sheet into a DataFrame
actor_df = pd.read_excel(sakila_data, sheet_name='actor')
film_df = pd.read_excel(sakila_data, sheet_name='film')
category_df = pd.read_excel(sakila_data, sheet_name='category')
film_actor_df = pd.read_excel(sakila_data, sheet_name='film_actor')
film_category_df = pd.read_excel(sakila_data, sheet_name='film_category')

# Display the first few rows of each DataFrame to understand their structure
actor_df.head(), film_df.head(), category_df.head(), film_actor_df.head(), film_category_df.head()

(   Unnamed: 0  actor_id first_name     last_name         last_update
 0           0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
 1           1         2       NICK      WAHLBERG 2006-02-15 04:34:33
 2           2         3         ED         CHASE 2006-02-15 04:34:33
 3           3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
 4           4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33,
    Unnamed: 0  film_id             title  \
 0           0        1  ACADEMY DINOSAUR
 1           1        2    ACE GOLDFINGER
 2           2        3  ADAPTATION HOLES
 3           3        4  AFFAIR PREJUDICE
 4           4        5       AFRICAN EGG

                                          description  release_year  \
 0  An Epic Drama of a Feminist And a Mad Scientis...          2006
 1  A Astounding Epistle of a Database Administrat...          2006
 2  A Astounding Reflection of a Lumberjack And a ...          2006
 3  A Fanciful Documentary of a Frisbee And a Lumb...          2006
 4  A Fast-Paced Documentary of a Pastry Chef And ...          2006

    language_id  original_language_id  rental_duration  rental_rate  length  \
 0            1                   NaN                6         0.99      86
 1            1                   NaN                3         4.99      48
 2            1                   NaN                7         2.99      50
 3            1                   NaN                5         2.99     117
 4            1                   NaN                6         2.99     130

    replacement_cost rating                  special_features  \
 0             20.99     PG  Deleted Scenes,Behind the Scenes
 1             12.99      G           Trailers,Deleted Scenes
 2             18.99  NC-17           Trailers,Deleted Scenes
 3             26.99      G    Commentaries,Behind the Scenes
 4             22.99      G                    Deleted Scenes

           last_update
 0 2006-02-15 05:03:42
 1 2006-02-15 05:03:42
 2 2006-02-15 05:03:42
 3 2006-02-15 05:03:42
 4 2006-02-15 05:03:42  ,
    Unnamed: 0  category_id       name         last_update
 0           0            1     Action 2006-02-15 04:46:27
 1           1            2  Animation 2006-02-15 04:46:27
 2           2            3   Children 2006-02-15 04:46:27
 3           3            4   Classics 2006-02-15 04:46:27
 4           4            5     Comedy 2006-02-15 04:46:27,
    Unnamed: 0  actor_id  film_id         last_update
 0           0         1        1 2006-02-15 05:05:03
 1           1         1       23 2006-02-15 05:05:03
 2           2         1       25 2006-02-15 05:05:03
 3           3         1      106 2006-02-15 05:05:03
 4           4         1      140 2006-02-15 05:05:03,
    Unnamed: 0  film_id  category_id         last_update
 0           0        1            6 2006-02-15 05:07:09
 1           1        2           11 2006-02-15 05:07:09
 2           2        3            6 2006-02-15 05:07:09
 3           3        4           11 2006-02-15 05:07:09
 4           4        5            8 2006-02-15 05:07:09)

In [8]:
# Find the actor with the first name "William"
william_actor = actor_df[actor_df['first_name'] == 'William'][['actor_id', 'first_name', 'last_name']]
william_actor

Empty DataFrame
Columns: [actor_id, first_name, last_name]
Index: []

In [10]:
# Combine first and last names into a single column and convert to uppercase
actor_df['Nom de l\'acteur'] = (actor_df['first_name'] + ' ' + actor_df['last_name']).str.upper()
actor_names_upper = actor_df[['Nom de l\'acteur']]
actor_names_upper.head()

       Nom de l'acteur
0     PENELOPE GUINESS
1        NICK WAHLBERG
2             ED CHASE
3       JENNIFER DAVIS
4  JOHNNY LOLLOBRIGIDA

In [11]:
films_excluding_grease_youth = film_df[film_df['title'] != 'GREASE YOUTH']
print(films_excluding_grease_youth.head())

   Unnamed: 0  film_id             title  \
0           0        1  ACADEMY DINOSAUR
1           1        2    ACE GOLDFINGER
2           2        3  ADAPTATION HOLES
3           3        4  AFFAIR PREJUDICE
4           4        5       AFRICAN EGG

                                         description  release_year  \
0  An Epic Drama of a Feminist And a Mad Scientis...          2006
1  A Astounding Epistle of a Database Administrat...          2006
2  A Astounding Reflection of a Lumberjack And a ...          2006
3  A Fanciful Documentary of a Frisbee And a Lumb...          2006
4  A Fast-Paced Documentary of a Pastry Chef And ...          2006

   language_id  original_language_id  rental_duration  rental_rate  length  \
0            1                   NaN                6         0.99      86
1            1                   NaN                3         4.99      48
2            1                   NaN                7         2.99      50
3            1                   NaN                5         2.99     117
4            1                   NaN                6         2.99     130

   replacement_cost rating                  special_features  \
0             20.99     PG  Deleted Scenes,Behind the Scenes
1             12.99      G           Trailers,Deleted Scenes
2             18.99  NC-17           Trailers,Deleted Scenes
3             26.99      G    Commentaries,Behind the Scenes
4             22.99      G                    Deleted Scenes

          last_update
0 2006-02-15 05:03:42
1 2006-02-15 05:03:42
2 2006-02-15 05:03:42
3 2006-02-15 05:03:42
4 2006-02-15 05:03:42

In [12]:
actors_with_gen = actor_df[actor_df['last_name'].str.contains('GEN', case=False, na=False)]
print(actors_with_gen)

     Unnamed: 0  actor_id first_name  last_name         last_update  \
13           13        14     VIVIEN     BERGEN 2006-02-15 04:34:33
40           40        41      JODIE  DEGENERES 2006-02-15 04:34:33
106         106       107       GINA  DEGENERES 2006-02-15 04:34:33
165         165       166       NICK  DEGENERES 2006-02-15 04:34:33

     Nom de l'acteur
13     VIVIEN BERGEN
40   JODIE DEGENERES
106   GINA DEGENERES
165   NICK DEGENERES

In [13]:
actors_with_li_or_third_e = actor_df[
    (actor_df['last_name'].str.contains('LI', case=False, na=False)) | 
    (actor_df['last_name'].str[2] == 'E')
].sort_values(by=['last_name', 'first_name'])
print(actors_with_li_or_third_e)

     Unnamed: 0  actor_id first_name last_name         last_update  \
85           85        86       GREG   CHAPLIN 2006-02-15 04:34:33
147         147       148      EMILY       DEE 2006-02-15 04:34:33
137         137       138    LUCILLE       DEE 2006-02-15 04:34:33
172         172       173       ALAN  DREYFUSS 2006-02-15 04:34:33
81           81        82      WOODY     JOLIE 2006-02-15 04:34:33
60           60        61  CHRISTIAN    NEESON 2006-02-15 04:34:33
61           61        62      JAYNE    NEESON 2006-02-15 04:34:33
33           33        34     AUDREY   OLIVIER 2006-02-15 04:34:33
14           14        15       CUBA   OLIVIER 2006-02-15 04:34:33
170         170       171    OLYMPIA  PFEIFFER 2006-02-15 04:34:33
92           92        93      ELLEN   PRESLEY 2006-02-15 04:34:33
171         171       172    GROUCHO  WILLIAMS 2006-02-15 04:34:33
136         136       137     MORGAN  WILLIAMS 2006-02-15 04:34:33
71           71        72       SEAN  WILLIAMS 2006-02-15 04:34:33
82           82        83        BEN    WILLIS 2006-02-15 04:34:33
95           95        96       GENE    WILLIS 2006-02-15 04:34:33
163         163       164   HUMPHREY    WILLIS 2006-02-15 04:34:33

      Nom de l'acteur
85       GREG CHAPLIN
147         EMILY DEE
137       LUCILLE DEE
172     ALAN DREYFUSS
81        WOODY JOLIE
60   CHRISTIAN NEESON
61       JAYNE NEESON
33     AUDREY OLIVIER
14       CUBA OLIVIER
170  OLYMPIA PFEIFFER
92      ELLEN PRESLEY
171  GROUCHO WILLIAMS
136   MORGAN WILLIAMS
71      SEAN WILLIAMS
82         BEN WILLIS
95        GENE WILLIS
163   HUMPHREY WILLIS

In [14]:
films_with_woman_desc = film_df[film_df['description'].str.contains('Woman', case=False, na=False)].head(5)
print(films_with_woman_desc[['description']])

                                          description
19  A Boring Drama of a Woman And a Squirrel who m...
24  A Thoughtful Display of a Woman And a Astronau...
25  A Amazing Panorama of a Pastry Chef And a Boat...
27  A Touching Panorama of a Waitress And a Woman ...
28  A Fateful Yarn of a Womanizer And a Feminist w...

In [15]:
unique_last_names_count = actor_df['last_name'].nunique()
print(unique_last_names_count)

121

In [16]:
actor_film_df = film_actor_df.merge(actor_df, on='actor_id').merge(film_df, on='film_id')
actor_films = actor_film_df[['first_name', 'last_name', 'title']]
print(actor_films.head())

  first_name last_name                  title
0   PENELOPE   GUINESS       ACADEMY DINOSAUR
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS
2   PENELOPE   GUINESS            ANGELS LIFE
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS
4   PENELOPE   GUINESS          CHEAPER CLYDE

In [23]:
last_name_counts = actor_df['last_name'].value_counts().sort_values(ascending=False).head(5)
print(last_name_counts)

last_name
KILMER    5
TEMPLE    4
NOLTE     4
BERRY     3
DAVIS     3
Name: count, dtype: int64

In [18]:
common_last_names = actor_df['last_name'].value_counts()
common_last_names = common_last_names[common_last_names > 1]
print(common_last_names)

last_name
KILMER         5
TEMPLE         4
NOLTE          4
BERRY          3
DAVIS          3
TORN           3
DEGENERES      3
HOFFMAN        3
JOHANSSON      3
PECK           3
HOPKINS        3
AKROYD         3
HARRIS         3
WILLIAMS       3
WILLIS         3
KEITEL         3
GUINESS        3
ALLEN          3
GARLAND        3
ZELLWEGER      3
MCQUEEN        2
PALTROW        2
TRACY          2
OLIVIER        2
BRODY          2
NEESON         2
BOLGER         2
MCKELLEN       2
CRONYN         2
DEAN           2
HACKMAN        2
DUKAKIS        2
CRAWFORD       2
WINSLET        2
STREEP         2
SILVERSTONE    2
WEST           2
HOPPER         2
BENING         2
DEE            2
GOODING        2
TANDY          2
MCCONAUGHEY    2
MONROE         2
JACKMAN        2
BAILEY         2
PENN           2
DEPP           2
DENCH          2
FAWCETT        2
MOSTEL         2
WOOD           2
CAGE           2
CHASE          2
WAHLBERG       2
Name: count, dtype: int64

In [19]:
film_category_merged = film_df.merge(film_category_df, on='film_id').merge(category_df, on='category_id')
avg_film_length_by_category = film_category_merged.groupby('name')['length'].mean()
print(avg_film_length_by_category)

name
Action         111.609375
Animation      111.015152
Children       109.800000
Classics       111.666667
Comedy         115.827586
Documentary    108.750000
Drama          120.838710
Family         114.782609
Foreign        121.698630
Games          127.836066
Horror         112.482143
Music          113.647059
New            111.126984
Sci-Fi         108.196721
Sports         128.202703
Travel         113.315789
Name: length, dtype: float64

In [20]:
horror_films = film_category_df[film_category_df['category_id'] == category_df[category_df['name'] == 'Horror']['category_id'].values[0]]
horror_actors = film_actor_df[film_actor_df['film_id'].isin(horror_films['film_id'])]
horror_actors_merged = horror_actors.merge(actor_df, on='actor_id').drop_duplicates(subset=['actor_id'])
print(horror_actors_merged[['first_name', 'last_name']])

    first_name     last_name
0     PENELOPE       GUINESS
3     JENNIFER         DAVIS
4       JOHNNY  LOLLOBRIGIDA
7        GRACE        MOSTEL
9          JOE         SWANK
..         ...           ...
308       JOHN        SUVARI
309      MERYL         ALLEN
311      JAYNE   SILVERSTONE
314       BELA        WALKEN
315      REESE          WEST

[156 rows x 2 columns]

In [21]:
penelope_films = film_actor_df[film_actor_df['actor_id'] == actor_df[(actor_df['first_name'] == 'PENELOPE') & (actor_df['last_name'] == 'GUINESS')]['actor_id'].values[0]]['film_id']
penelope_co_actors = film_actor_df[film_actor_df['film_id'].isin(penelope_films) & (film_actor_df['actor_id'] != actor_df[(actor_df['first_name'] == 'PENELOPE') & (actor_df['last_name'] == 'GUINESS')]['actor_id'].values[0])]
penelope_co_actors_merged = penelope_co_actors.merge(actor_df, on='actor_id').drop_duplicates(subset=['actor_id'])
print(penelope_co_actors_merged[['first_name', 'last_name']])

    first_name    last_name
0     JENNIFER        DAVIS
4        BETTE    NICHOLSON
6        GRACE       MOSTEL
7    CHRISTIAN        GABLE
9         KARL        BERRY
..         ...          ...
96        CUBA        BIRCH
97        JOHN       SUVARI
99       JAYNE  SILVERSTONE
100       BELA       WALKEN
102       MARY       KEITEL

[79 rows x 2 columns]

In [22]:
total_categories = category_df['category_id'].nunique()
actors_in_all_categories = film_actor_df.merge(film_category_df, on='film_id').groupby('actor_id')['category_id'].nunique()
actors_in_all_categories = actors_in_all_categories[actors_in_all_categories == total_categories].index
actors_in_all_categories_df = actor_df[actor_df['actor_id'].isin(actors_in_all_categories)]
print(actors_in_all_categories_df[['first_name', 'last_name']])

    first_name  last_name
12         UMA       WOOD
71        SEAN   WILLIAMS
94       DARYL   WAHLBERG
105    GROUCHO      DUNST
106       GINA  DEGENERES
126      KEVIN    GARLAND
138       EWAN    GOODING
154        IAN      TANDY
160     HARVEY       HOPE
184    MICHAEL     BOLGER
196      REESE       WEST