## Exercice 1: Les notes

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
data = pd.read_excel("Datasets/Notes (ex.1).xlsx")
data

    Observation  Note
0             1    10
1             2     7
2             3     0
3             4     5
4             5     2
5             6     7
6             7     9
7             8     7
8             9     0
9            10     8
10           11     3
11           12     2
12           13     8
13           14     2
14           15    10
15           16     2
16           17     3
17           18     7
18           19     5
19           20     6

In [3]:
def mean(notes):
    return sum(notes) / len(notes)

display(mean(data['Note']))
display(np.mean(data['Note']))

5.15

np.float64(5.15)

In [4]:
def variance(notes):
    squares = []
    for i in notes:
        squares.append(i ** 2)
    
    return ((sum(squares) / len(notes)) - mean(notes) ** 2)

display(variance(data['Note']))
display(np.var(data['Note']))

9.727499999999996

np.float64(9.7275)

In [5]:
def standard_deviation(notes):
    deviation = []
    for i in notes:
        deviation.append((i - mean(notes)) ** 2)
    return math.sqrt( (sum(deviation)) / len(notes))

display(standard_deviation(data['Note']))
display(np.std(data['Note']))

3.118894034750139

np.float64(3.118894034750139)

In [6]:
def coef_variation(notes):
    return standard_deviation(notes) / mean(notes)

display(coef_variation(data['Note']))

0.6056104921844929

In [7]:
def median(notes):
    notes.sort_values()
    if len(notes) % 2 == 1:
        return notes[len(notes) // 2]
    else:
        n1 = notes[len(notes) // 2 - 1]
        n2 = notes[len(notes) // 2]
        return (n1 + n2) / 2

display(median(data['Note']))
display(np.median(data['Note']))

np.float64(5.5)

np.float64(5.5)

In [8]:
def mode(notes):
    frequencies = {}
    for i in notes:
        if i in frequencies:
            frequencies[i] += 1
        else:
            frequencies[i] = 1
    max_count = max(frequencies.values())
    modes = [key for key, value in frequencies.items() if value == max_count]

    return modes
    
display(mode(data['Note']))

[7, 2]

## Exercice 2: Les notes
### Definition d'effectif en statistique :
    Un effectif est un nombre d'apparation d'une modalite pour une variable donnee

In [9]:
data = pd.read_excel("Datasets/Notes (ex.2).xlsx")
data

   Note  Effectifs
0     1          3
1     2          7
2     3          7
3     4         12
4     5          9
5     6         11
6     7         12
7     8         14
8     9         20
9    10          5

In [10]:
def weighted_mean(notes, effectifs):
    return (sum(notes * effectifs) / sum(effectifs))

display(weighted_mean(data['Note'], data['Effectifs']))

6.23

In [11]:
def weighted_variance(notes, effectifs):
    return sum(effectifs * (notes - weighted_mean(notes, effectifs)) ** 2) / sum(effectifs)

display(weighted_variance(data['Note'], data['Effectifs']))

6.2971

In [12]:
def weighted_standard_dev(notes, effectifs):
    return math.sqrt((sum(effectifs * (notes - weighted_mean(notes, effectifs)) ** 2)) / sum(effectifs))

display(weighted_standard_dev(data['Note'], data['Effectifs']))

2.509402319278437

In [13]:
def weighted_coef_variation(notes, effectifs):
    return weighted_standard_dev(notes, effectifs) / weighted_mean(notes, effectifs)

display(weighted_coef_variation(data['Note'], data['Effectifs']))

0.4027933096755116

In [14]:
def weighted_median(notes, effectifs):
    extended_list = []
    for note, effectif in zip(notes, effectifs):
        extended_list.extend([note] * effectif)

    extended_list.sort()

    if len(extended_list) % 2 == 1:
        return extended_list[len(extended_list) // 2]

    else:
        m1 = extended_list[len(extended_list) // 2 - 1]
        m2 = extended_list[len(extended_list) // 2]
        median = m1 + m2 / 2
        return median

    
    print(extended_list)

weighted_median(data['Note'], data['Effectifs'])

10.5

In [15]:
def weighted_mode(notes, effectifs):
    repetitions = {}

    for note, effectif in zip(notes, effectifs):
        repetitions[note] = effectif

    max_values = [key for key, value in repetitions.items() if value == max(repetitions.values())]
    return max_values

weighted_mode(data['Note'], data['Effectifs'])

[9]

## Exercice 3
### Frequence (f) est la frequence d'apparition d'une modalite pour une variable donnee
### (fi = Fi / N)

- n = 100
- F = Effectif

In [16]:
data = pd.read_excel("Datasets/Notes (ex.3).xlsx")

effectifs = data['Fréquence'] * 100
int_effectifs = effectifs.astype(int)

display(weighted_mean(data['Note'], int_effectifs))
display(weighted_variance(data['Note'], int_effectifs))
display(weighted_standard_dev(data['Note'], int_effectifs))
display(weighted_coef_variation(data['Note'], int_effectifs))
display(weighted_median(data['Note'], int_effectifs))
display(weighted_mode(data['Note'], int_effectifs))

6.53

5.0291

2.2425654951416694

0.3434250375408376

10.5

[8]

## Exercice 4

In [67]:
data = pd.read_excel("Datasets/HF - Internet.xlsx")
data

margin = data.copy()
margin.loc['Margin'] = ["Total", sum(data['Oui']), sum(data['Non'])]
margin

       Unnamed: 0  Oui  Non
0           Homme  175  114
1           Femme  461  198
Margin      Total  636  312

### Type de variables : Quantitative Nominales

In [68]:
margin.loc[0::, 'Margin'] = margin.loc[0::, ['Oui', 'Non']].sum(axis=1)
margin

       Unnamed: 0  Oui  Non  Margin
0           Homme  175  114   289.0
1           Femme  461  198   659.0
Margin      Total  636  312   948.0

## Exercice 5

In [61]:
data = pd.read_excel("Datasets/Traitements.xlsx")
data

  Unnamed: 0  Guéri  Non-Guéri
0        TrA    139         34
1        TrB     98         10

In [62]:
margin = data.copy()

margin.loc['Margin'] = ["Total", sum(data['Guéri']), sum(data['Non-Guéri'])]
margin

       Unnamed: 0  Guéri  Non-Guéri
0             TrA    139         34
1             TrB     98         10
Margin      Total    237         44

In [64]:
margin.loc[0::, 'Margin'] = margin.loc[0::, ['Guéri', 'Non-Guéri']].sum(axis=1)
margin

       Unnamed: 0  Guéri  Non-Guéri  Margin
0             TrA    139         34   173.0
1             TrB     98         10   108.0
Margin      Total    237         44   281.0